body {
    margin: 0px;
    padding: 0px;

    background-color: green;
}

.layout {
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 0px;
    background-color: #faf4f4 !important;
}

.nav-item {
    background-color: #cd3911;
    margin:10px;
    color: #faf4f4 !important;
    font-weight: 1000;
    font-size: 20px;

    height: 60px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.info {
}

.navbar-brand {
    font-size: 20px;
    font-weight:bolder;
}

.info-images {
    display: flex;
    flex-wrap: wrap;
    gap: 8vw;
    justify-content: center;
    align-items: center;
}

.info-image {
    background-color: blue;
}
.info-image-1 {
    width: 750px;
    height: 600px;
}

.info-image-2 {
    width: 500px;
    height: 500px;
}
